.uc_elegant_opening_hours * {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    }

.uc_elegant_opening_hours {
    display:block;
    width:100%;
    text-align:center;
    overflow:hidden;
    }
    

.uc_elegant_opening_hours .uc_time_box_wrapper {
    display:block;
    padding:15px 10px;
    vertical-align:middle;
    width:16.66%;
	float:left;
    }
    
.uc_elegant_opening_hours .uc_time_box {
    padding:30px 5%;
    color:#fff;
    text-align:center;
    border:2px solid rgba(255,255,255,0.2);
    transition:all 0.5s ease-in-out;
    background:rgba(0,0,0,0.6);
    }
    
.uc_elegant_opening_hours .uc_time_box:hover {
    background:#222 !important;
    }
    
.uc_elegant_opening_hours .uc_time_box span {
    display:block;
    }
    
.uc_elegant_opening_hours span.uc_day {
    font-size:22px;
    margin:0px 0 10px;
    }    
    
.uc_elegant_opening_hours span.uc_time {
    font-size: 14px;
    font-weight: 400;
 	transition:0.5s;
    }

.uc_elegant_opening_hours .uc_time_box:hover span.uc_time
{
  transform:scale(1.3,1.3);
}

    
@media (max-width:767px) {
  .uc_elegant_opening_hours  .uc_time_box_wrapper {width:33.33%;}
    }
    
@media (max-width:420px) {
  .uc_elegant_opening_hours  .uc_time_box_wrapper {width:50%;}
    }