@charset "utf-8";
/* CSS Document */

.uc_basic_opening_hours *{
	margin: 0;
    padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;}
   
.clear {clear: both;}  
.uc_basic_opening_hours{overflow:hidden;}

.uc_basic_opening_hours_inner{ margin:9px 0;overflow: hidden;}
.uc_basic_opening_hours_inner .left_box{ float:left; width:56px; height:45px; position:relative; background:#000;}
.uc_basic_opening_hours_inner .left_box span{ position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
.uc_basic_opening_hours_inner .left_box span .fa{color:#fff; font-size:26px;}
.uc_basic_opening_hours_inner .right_box{ float:left; margin:0 0 0 10px; font-family:Tahoma; font-size:20px;}

