/*

    The following CSS codes are created by the YellowPencil plugin.
    https://yellowpencil.waspthemes.com/


    T A B L E   O F   C O N T E N T S
    ........................................................................

    01. Global Styles
    02. "Clases de Ski y Snowboard en Chile" Page
    03. "Dejanos tu reseña!" Page

*/



/*-----------------------------------------------*/
/*  Global Styles                                */
/*-----------------------------------------------*/
body .sp-tpro-items .sp-testimonial-pro-item .sp-testimonial-pro{
	border-top-left-radius:11px !important;
	border-top-right-radius:11px !important;
	border-bottom-left-radius:11px !important;
	border-bottom-right-radius:11px !important;
	-webkit-box-shadow:0px 2px 14px 3px #e5e5e5 !important;	box-shadow:0px 2px 14px 3px #e5e5e5 !important;
}

body .sp-tpro-items .sp-testimonial-pro .tpro-client-designation-company{
	color:#b6bb00 !important;
	border-color:#b6bb00;
	border-style:solid;
	border-width:1px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	margin-left:44px !important;
	margin-right:84px !important;
}

body .sp-tpro-items .sp-testimonial-pro .tpro-client-testimonial{
	margin-left:-36px !important;
}

body .sp-tpro-items .sp-testimonial-pro h4{
	margin-left:-41px !important;
	font-weight:600;
}

body .sp-tpro-items .sp-testimonial-pro .tpro-client-rating{
	margin-left:-43px !important;
}

body .sp-tpro-items .sp-testimonial-pro .tpro-testimonial-date{
	margin-left:-39px !important;
}

body .sp-tpro-items .sp-testimonial-pro i{
	margin-left:2px;
}

@media (max-width:450px){

	body .sp-tpro-items .sp-testimonial-pro-item .sp-testimonial-pro{
	width:282px !important;
	left:58px;
}

body .content .post_item .wpb_wrapper .sp-testimonial-pro{
	margin-left:-50px !important;
	}

}



/*-----------------------------------------------*/
/*  "Clases de Ski y Snowboard en Chile" Page    */
/*-----------------------------------------------*/
body.page-id-6144 .vc_custom_1723122690393 .vc_item img{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

body.page-id-6144 .vc_custom_1723122690393 .wpb_wrapper li{
	color:#ffffff;
	background-color:#ffffff !important;
}

body.page-id-6144 .vc_custom_1723122690393 .vc_right span{
	color:#ffffff;
	font-weight:700;
	line-height:1em;
}

body.page-id-6144 .vc_custom_1723122690393 .wpb_wrapper li:active{
	background-color:#7ad07a !important;
}

body.page-id-6144 .vc_custom_1723122690393 .wpb_wrapper li:hover{
	background-color:#5ad911 !important;
}

body.page-id-6144 .swiper-wrapper .sp-testimonial-pro-item .sp-testimonial-pro{
	margin-top:7px;
	margin-right:5px;
	border-top-right-radius:6px !important;
	border-top-left-radius:6px !important;
	border-bottom-right-radius:6px !important;
	border-bottom-left-radius:6px !important;
	-webkit-box-shadow:-1px 0px 10px 4px rgba(181,181,181,0.19);	box-shadow:-1px 0px 10px 4px rgba(181,181,181,0.19);
}

body.page-id-6144 .wpb_wrapper .title_center .sc_section_inner .sc_section_content_wrap .wpb_text_column .wpb_wrapper #sp-testimonial-pro-wrapper-6775 .sp-testimonial-carousel-wrapper .sp-testimonial-pro-read-more .swiper-wrapper .sp-testimonial-pro-item .sp-testimonial-pro{
	-webkit-box-shadow:-1px 0px 10px 4px rgba(181,181,181,0.19) !important;	box-shadow:-1px 0px 10px 4px rgba(181,181,181,0.19) !important;
}

body.page-id-6144 .vc_custom_1557356861737 .vc_column-inner{
	padding-right:0px;
}

@media (max-width:450px){

	body.page-id-6144 .sp-tpro-items .sp-testimonial-pro-item .sp-testimonial-pro{
	width:308px;
	margin-left:-3px;
}

body.page-id-6144 #sp-testimonial-pro-wrapper-6775 .sp-testimonial-carousel-wrapper{
	width:120%;
	min-width:488px;
	left:-115px;
}

body.page-id-6144 .swiper-wrapper .sp-testimonial-pro-item .sp-testimonial-pro{
	margin-right:36px;
}

body.page-id-6144 .sp-testimonial-carousel-wrapper .sp-testimonial-pro-read-more .swiper-button-next{
	display:none;
}

body.page-id-6144 .content .post_item .wpb_wrapper .sp-testimonial-pro{
	margin-left:79px !important;
}

body.page-id-6144 .elementor .elementor-element-78d0c770 .elementor-container .elementor-top-column .elementor-widget-wrap .elementor-widget-text-editor .elementor-widget-container .vc_custom_1557356861737 .vc_column_container .vc_column-inner .wpb_wrapper .sc_section{
	width:374px !important;
}

body.page-id-6144 .elementor-top-column .elementor-widget-wrap .elementor-widget-text-editor .elementor-widget-container .vc_custom_1481538242094 .vc_column_container .vc_column-inner .wpb_wrapper .sc_section .sc_section_inner .sc_section_content_wrap .sc_button{
	width:100% !important;
	}

}



@media (max-width: 450px){

	body.page-id-6144 .elementor .elementor-element-78d0c770 .elementor-container .elementor-top-column .elementor-widget-wrap .elementor-widget-text-editor .elementor-widget-container .vc_custom_1557356861737 .vc_column_container .vc_column-inner .wpb_wrapper .sc_section{
	width: 300px !important;
}

body.page-id-6144 .vc_custom_1481538242094 .sc_section .sc_button{
	margin-left:97.5px;
	max-width:100%;
	}

}



@media (min-width:768px){

	body.page-id-6144 .vc_custom_1723122690393 .vc_right span{
	font-size:49px !important;
	}

}



@media (min-width:1200px){

	body.page-id-6144 .elementor .elementor-element-78d0c770 .elementor-container .elementor-top-column .elementor-widget-wrap .elementor-widget-text-editor .elementor-widget-container .vc_custom_1557356861737 .vc_column_container .vc_column-inner .wpb_wrapper .sc_section{
	width:165% !important;
	}

}



/*-----------------------------------------------*/
/*  "Dejanos tu reseña!" Page                   */
/*-----------------------------------------------*/
body.page-id-6767 .sp-tpro-items .sp-testimonial-pro-item .sp-testimonial-pro{
	-webkit-box-shadow:none;	box-shadow:none;
}

body.page-id-6767 .sp-tpro-items .sp-testimonial-pro .tpro-client-designation-company{
	color:#b6bb00 !important;
	border-color:#b6bb00;
	border-width:1px;
	border-style:solid;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	margin-left:83px !important;
	margin-right:83px !important;
}

body.page-id-6767 #testimonial_form{
	text-align:center;
}

body.page-id-6767 #testimonial_form .sp-tpro-form-field textarea{
	color:#ffffff;
	-webkit-transform:translatex(0px) translatey(0px);	-ms-transform:translatex(0px) translatey(0px);	transform:translatex(0px) translatey(0px);
	-webkit-box-shadow:0px 1px 9px 1px #4f4f4f;	box-shadow:0px 1px 9px 1px #4f4f4f;
	font-weight:400;
	background-color:#545454;
}

body.page-id-6767 #testimonial_form .sp-tpro-form-field{
	text-align:center;
}

body.page-id-6767 #testimonial_form_6787{
	text-align:center;
}

body.page-id-6767 .vc_column-inner .wpb_wrapper .wpb_wrapper{
	text-align:center;
}

body.page-id-6767 .vc_column-inner .wpb_wrapper .wpb_text_column{
	text-align:center;
}

body.page-id-6767 .page_paddings_yes .vc_column-inner > .wpb_wrapper{
	text-align:center;
}

body.page-id-6767 .page_paddings_yes .vc_column-inner{
	text-align:center;
}

body.page-id-6767 .page_paddings_yes .post_item .vc_column_container{
	text-align:center;
}

body.page-id-6767 .page_paddings_yes .post_item .wpb_row{
	text-align:center;
}

body.page-id-6767 .page_paddings_yes .post_item .post_content{
	text-align:center;
}

body.page-id-6767 .page_paddings_yes article{
	text-align:center;
}

body.page-id-6767 .page_paddings_yes .content{
	text-align:center;
}

body.page-id-6767 .body_wrap .page_wrap .page_paddings_yes{
	text-align:center;
}

body.page-id-6767 #testimonial_form .sp-tpro-form-field .sp-tpro-client-rating{
	position:relative;
	left:99px;
	margin-left:147px;
}

body.page-id-6767 #testimonial_form .sp-tpro-form-field input[type=text]{
	-webkit-box-shadow:-1px 0px 9px 6px rgba(0,0,0,0.28);	box-shadow:-1px 0px 9px 6px rgba(0,0,0,0.28);
	background-color:#545454;
	font-weight:400;
	color:#ffffff;
}

body.page-id-6767 #testimonial_form .sp-tpro-form-field textarea:hover{
	color:#ffffff;
	-webkit-transform:translatex(0px) translatey(0px);	-ms-transform:translatex(0px) translatey(0px);	transform:translatex(0px) translatey(0px);
	background-color:#2e2d2d;
}

body.page-id-6767 #testimonial_form .sp-tpro-form-field textarea:active{
	background-color:#4f4f4f;
}

body.page-id-6767 #testimonial_form .sp-tpro-form-field input[type=text]:hover{
	background-color:#3a3a3a;
}

body.page-id-6767 #submit{
	background-color:#b6bb00 !important;
}

@media (max-width:450px){

	body.page-id-6767 #testimonial_form .sp-tpro-form-field .sp-tpro-client-rating{
	left:-44px;
	top:8px;
	}

}